{%set Title=setting.site.name%}
<!DOCTYPE html>
<html lang="zh">
<head>
    <title>{%if title%}{{title}} - {%endif%}{{setting.site.name}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{csrf}}">
    <link rel="preload" href="/fonts/MaterialIcons-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="https://cdn.staticfile.org/mdui/1.0.2/css/mdui.min.css" as="style" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.staticfile.org/mdui/1.0.2/css/mdui.min.css" media="all" integrity="sha384-wuqJ3gKnD2BDa/kF14f6SECESfcvVTsNruuVi3BOAk2mNDIOn/uvHdd+eMK7FY0b" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.min.css">
</head>
<body class="mdui-appbar-with-toolbar mdui-theme-accent-blue">
    <div id="loading" class="loading-overlay" hidden aria-hidden="true">
        <div class="loading-box">
            <div class="mdui-spinner"></div>
            <span class="loading-text">处理中…</span>
        </div>
    </div>
    {%include 'appbar.html'%}
    <div id="container" class="mdui-container{%if fluid%}-fluid{%endif%}">{%block content%}{%endblock%}</div>
    {%include "./footer.html"%}
    <script src="https://cdn.staticfile.org/mdui/1.0.2/js/mdui.min.js" integrity="sha384-Iw/ABpFbyL5jmtL3QSGm+kpo+Rnj0Cs4NoQm69VmGC7j4pcv5MbN55KVNMMyB4J6" crossorigin="anonymous"></script>
    <script src="/js/core.js"></script>
    <script>
        mdui.mutation();
    </script>
    {%block js%}{%endblock%}
</body>
</html>